<h1><%= @album.title %></h1>

<!-- Album administration links -->
<div id="album-admin">
  <ul>
    <li>
      <%= link_to "Download album", 
        :controller => :albums,
        :action => :download,
        :secret => @album.secret %>
    </li>
    <% if !current_user.blank? %>
      <li>
        <%= link_to "Edit album", edit_album_path(@album, :secret => @album.secret) %>
      </li>
      <li>
        <%= button_to "Delete album", 
          album_path(@album), 
          :confirm => "Are you sure you wish to delete this album?", 
          :method => :delete %>
      </li>
    <% end %>
  </ul>
</div>

<!-- Upload form --> 
<div id="image_upload">
  <p>Upload new images to the album:</p>
  <%= form_for @album, :url => {:action => :upload_images}, :html => {:multipart => true} do |f| %>
    <%= f.hidden_field :secret %>

    <%= label_tag "Author name" %>
    <%= text_field_tag :author_name, (if current_user.blank? then "" else current_user.name end) %><br />

    <%= f.file_field :images, :multiple => "" %>
    <%= f.submit "Upload images" %>
  <% end %>
</div>

<!-- Thumbnail images -->
<div id="thumbs">
  <%= render :partial => "image/thumb", 
    :collection => @album.images %>
</div>

<!-- Main image -->
<div id="main-image"></div>
