<div id="user-form">
  <% if @user.nil? %>
    <%= link_to "Log In", "user/login" %>
    <%= link_to "Sign Up", "user/signup" %>
  <% else %>
    <%= link_to "Log out", "user/logout" %>
  <% end %>
</div>

<div>
  <%= link_to :controller => :album, :view => :new %>
</div>

<div id="albums">
  <ul>
    <% @user.albums.each do |album| %>
      <%= link_to album_path(@album) %>
    <% end %>
  </ul>
</div>
