<div id="login">
  <%= form_for(:user, @user, :url => {:action => "login"}) do |f| %>
    <%= f.label(:email, "Email:") %><br />
    <%= f.text_field(:email, :size => 32) %><br />
    <br />
    <%= f.label(:password, "Password:") %><br />
    <%= f.password_field(:password, :size => 32) %><br />
    <%= f.submit "Login" %>
  <% end %>
</div>

<div>
  <%= link_to "Did you forget your password?", new_password_reminder_path() %>
</div>
