<h1><%= @album.title %></h1>

<!-- form_for attempt -->
<%= form_for @album, :url => {:action => :upload_images}, :html => {:multipart => true} do |f| %>
  <%= f.hidden_field :secret %>
  <%= f.file_field :images, :multiple => "" %>
  <%= f.submit "PWEEEEEP!" %>
<% end %>

<!-- Upload images form -->
<%= form_tag({:controller => "album", :action => "upload_images"}, :multipart => true) do %>
  <%= hidden_field_tag "secret", @album.secret %>
  <%= file_field_tag "images", :multiple => "" %><br />
  <%= submit_tag "Upload images" %>
<% end %>
