<h1><%= @album.title %></h1>

<!-- Album administration links -->
<div id="album-admin">
  <%= link_to "Download album", 
    :controller => :album, 
    :action => :download,
    :secret => @album.secret %>
</div>

<!-- Upload form --> 
<div id="image_upload">
  <%= form_for @album, :url => {:action => :upload_images}, :html => {:multipart => true} do |f| %>
    <%= f.hidden_field :secret %>
    <%= f.file_field :images, :multiple => "" %>
    <%= f.submit "Upload images" %>
  <% end %>
</div>

<!-- Thumbnail images -->
<div id="thumbs">
  <% @album.images.each do |image| %>
  <div class="thumb">
    <div>
      <%= link_to image_tag(image.img.url(:thumb)),
        image.img.url(:medium),
        :rel => "colorbox"
      %>
    </div>
    <p><%= image.taken_at %></p>
    <%= button_to "Delete", 
      image_path(image, :image_id => image.id, :album_secret => @album.secret),
      :method => :delete,
      :confirm => "Are you sure you want to delete this image?",
      :title => "Image deletion"
    %>
  </div>
    <%= render :partial => "image/thumb", :object => image %>
  <% end %>
</div>

<!-- Main image -->
<div id="main-image"></div>
