<!DOCTYPE html>
<html>
  <head>
    <title>BlingBling</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <!-- Colorbox inclusion --> 
    <%= stylesheet_link_tag "colorbox1/colorbox.css" %>
    <%= javascript_include_tag "jquery.colorbox-min.js" %>

    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <div id="contents">
      <div id="user-menu">
        <% if session[:user_id] %>
          <%= link_to "Albums", :controller => :user %>
          <%= link_to "Create new album", :controller => :album, :action => :new %>
        <% else %>
          <%= link_to "Log In", :controller => :user, :action => :login %>
          <%= link_to "Sign Up", :controller => :user, :action => :signup %>
        <% end %>
      </div>

      <% if flash[:notice] %>
        <!-- Flash notice -->
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] %>
        <!-- Flash error -->
        <p class="error"><%= flash[:error] %></p>
      <% end %>
      
      <% if @user && @user.errors.any? %>
        <!-- User errors -->
        <ul class="errors">
          <% @user.errors.each do |attr, msg| %>
            <li><%= attr.to_s.capitalize %>: <%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
